/* styles/global.css */

:root {
  --primary-color: #0e1014;
  --secondary-color: #f3f3f3;
  --tertiary-color: rgb(212, 212, 212);
  --button-color: rgb(232, 230, 230);
  --background-color: #f4f4f4;
  --text-color: #161210;

  --font-size-base: 16px;
  --border-radius: 6px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --hover-color: rgba(0, 0, 0, 0.1);
}

/* 🌙 Dark Mode Variables */
.dark-mode {
  --primary-color: #d7dadc;
  --secondary-color: #29292c;
  --tertiary-color: #444446;
  --button-color: #343536;
  --background-color: #141414;
  --text-color: #d7dadc;
  --hover-color: rgba(255, 255, 255, 0.1);
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Hide scrollbar for Chrome, Safari and Edge */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* optional: just to be safe */
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@media (max-width: 768px) {
  /* or your mobile breakpoint */
  html,
  body {
    overflow-x: hidden; /* hide horizontal scroll */
  }
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #222;
  
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
}
